# Ignore node_modules directory
node_modules/
*package-lock.json
# Ignore any logs or temporary files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore any OS or system-specific files
.DS_Store
Thumbs.db

# Ignore environment-specific files
.env

# Ignore production build files
/build/
/dist/

# Ignore dependency directories for package-lock.json or yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*


